{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 mt-3">
            <div class="card">
                <img src="{{ products.imageURL }}" class="card-img-top" alt="{{ products.name}} image">
                <div class="card-body">
                    <h5 class="card-title">{{ products.name }}</h5>
                    <hr>
                    <!-- <button data-product="{{product.id}}" data-action="add" type="button" class="btn btn-outline-secondary update-cart">Add to Cart</button> -->
                    <a href="{% url 'store' %}" class="btn btn-outline-success">Back</a>
                    <h4 class="d-inline-block float-right"><strong>${{ products.price|floatformat:2 }}</strong></h4>
                </div>
              </div>
        </div>
    </div>
{% endblock %}