{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 mt-3">
            <div class="card">
                <img src="{{ product.imageURL }}" class="card-img-top" alt="{{ product.name}} image">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <hr>
                    <button data-product="{{product.id}}" data-action="add" type="button" class="btn btn-outline-secondary update-cart">Add to Cart</button>
                    <a href="{{ product.get_absolute_url }}" class="btn btn-outline-success">View</a>
                    <h4 class="d-inline-block float-right"><strong>${{ product.price|floatformat:2 }}</strong></h4>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}